<a href="https://colab.research.google.com/github/TharangaLakmali/Flight_delay_prediction/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install klib

Requirement already satisfied: klib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: pandas<2.0.0,>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from klib) (1.3.5)
Requirement already satisfied: seaborn<0.12.0,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from klib) (0.11.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from klib) (3.2.2)
Requirement already satisfied: scipy<2.0.0,>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from klib) (1.4.1)
Requirement already satisfied: Jinja2<4.0.0,>=3.0.3 in /usr/local/lib/python3.7/dist-packages (from klib) (3.0.3)
Requirement already satisfied: numpy<2.0.0,>=1.16.3 in /usr/local/lib/python3.7/dist-packages (from klib) (1.19.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from Jinja2<4.0.0,>=3.0.3->klib) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4.0.0,>=3.0.3->klib) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.1.2->klib) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib<4.0.0,>=3.0.3->klib) (1.15.0)

In [3]:
import klib
import pandas as pd

In [4]:
flight_data = pd.read_csv('/content/drive/MyDrive/data/final_dataset_cleaned.csv', parse_dates=['FL_DATE'])

In [5]:
flight_data.shape

(12665776, 31)

In [6]:
flight_data.head()

   YEAR  QUARTER  MONTH  DAY_OF_MONTH  ...  wpgt    pres tsun coco
0  2020        1      1             1  ...   NaN  1017.3  NaN  3.0
1  2020        1      1             1  ...   NaN  1017.6  NaN  2.0
2  2020        1      1             1  ...   NaN  1015.8  NaN  2.0
3  2020        1      1             1  ...   NaN  1018.6  NaN  2.0
4  2020        1      1             1  ...   NaN  1016.9  NaN  1.0

[5 rows x 31 columns]

In [7]:
# filtering the canceled flights 
flight_data = flight_data[flight_data['CANCELLED']==0.0]

In [8]:
flight_data.shape

(12658696, 31)

In [9]:
flight_data.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'TAIL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'CANCELLED',
       'DEP_HOUR', 'DEP_MIN', 'Aircraft type', 'time', 'temp', 'dwpt', 'rhum',
       'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun', 'coco'],
      dtype='object')

In [10]:
l_cols_select = ['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'DEP_DELAY', 'DEP_HOUR', 'DEP_MIN', 'Aircraft type', 'temp', 'dwpt', 'rhum',
       'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun', 'coco']

# l_cols_category = ['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK',
#        'DEP_HOUR', 'DEP_MIN', 'Aircraft type']

# l_cols_numerical = ['temp', 'dwpt', 'rhum',
#        'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun', 'coco']

In [11]:
flight_data = flight_data[l_cols_select]

In [12]:
# converting the categorical columns

# for col in l_cols_category:
#     flight_data[col] = flight_data[col].astype("category")

In [13]:
flight_data.dtypes

YEAR                      int64
QUARTER                   int64
MONTH                     int64
DAY_OF_MONTH              int64
DAY_OF_WEEK               int64
FL_DATE          datetime64[ns]
DEP_DELAY               float64
DEP_HOUR                  int64
DEP_MIN                   int64
Aircraft type            object
temp                    float64
dwpt                    float64
rhum                    float64
prcp                    float64
snow                    float64
wdir                    float64
wspd                    float64
wpgt                    float64
pres                    float64
tsun                    float64
coco                    float64
dtype: object

In [14]:
flight_data.head()

   YEAR  QUARTER  MONTH  DAY_OF_MONTH  ...  wpgt    pres  tsun  coco
0  2020        1      1             1  ...   NaN  1017.3   NaN   3.0
1  2020        1      1             1  ...   NaN  1017.6   NaN   2.0
2  2020        1      1             1  ...   NaN  1015.8   NaN   2.0
3  2020        1      1             1  ...   NaN  1018.6   NaN   2.0
4  2020        1      1             1  ...   NaN  1016.9   NaN   1.0

[5 rows x 21 columns]

In [15]:
klib.corr_mat(flight_data)

In [16]:
# from pandas_profiling import ProfileReport

In [ ]:
# profile = ProfileReport(flight_data)

In [ ]:
# profile

In [ ]:
# profile.to_file("/content/drive/MyDrive/data/your_report.html")