<a href="https://colab.research.google.com/github/TharangaLakmali/Flight_delay_prediction/blob/main/get_weather_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install meteostat

Collecting meteostat
  Downloading meteostat-1.6.0-py3-none-any.whl (30 kB)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from meteostat) (1.19.5)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from meteostat) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1->meteostat) (1.15.0)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.0

In [4]:
from meteostat import Point, Daily, Hourly
from datetime import datetime

In [26]:
# Set time period
start = datetime(2019, 1, 1)
end = datetime(2020, 12, 31)

# Create Point for Atlanta
atlanta = Point(33.640411, -84.419853)

# Get hourly data 
data = Hourly(atlanta, start, end)
data = data.fetch().reset_index()
data['DEP_HOUR'] = data['time'].dt.hour.astype(str).str.pad(2,side='left',fillchar='0')
data['FL_DATE'] = data['time'].dt.date

In [27]:
data.head()

                 time  temp  dwpt   rhum  ...  tsun  coco  DEP_HOUR     FL_DATE
0 2019-01-01 00:00:00  18.9  15.6   81.0  ...   NaN   7.0        00  2019-01-01
1 2019-01-01 01:00:00  20.0  17.2   84.0  ...   NaN   7.0        01  2019-01-01
2 2019-01-01 02:00:00  20.0  17.8   87.0  ...   NaN   7.0        02  2019-01-01
3 2019-01-01 03:00:00  18.9  18.9  100.0  ...   NaN   7.0        03  2019-01-01
4 2019-01-01 04:00:00  18.3  18.3  100.0  ...   NaN   7.0        04  2019-01-01

[5 rows x 14 columns]

In [28]:
data.shape

(17521, 14)

In [29]:
data.to_csv('/content/drive/MyDrive/data/weather_data/atlanta_weather.csv')